<html>

  
  <body>
  
    <h1><%= rover.name %></h1>
    <li>Landed: <%= rover.landed %></li>
    <li>Speed: <%= rover.speed %></li>
    <li>Mass: <%= rover.mass %></li>
    <li>Tools: <%= rover.tools %></li>

    

    <p><a href="/">Back to Home Page</a></p>

  </body>
</html>